MONGO_URI=mongodb://localhost:27017/phvault
JWT_SECRET=your_jwt_secret_here
PORT=5000
CLIENT_URL=http://localhost:5173

# Brevo (Sendinblue) Transactional Email API Config
BREVO_API_KEY=xkeysib-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
BREVO_SENDER_EMAIL=your_verified_sender@domain.com
BREVO_SENDER_NAME=phVault India
